[2020-05-05 14:27] torfsen opened #10 "Missing .pre-commit-hooks.yaml in 1.1.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [x] bug
* [ ] feature

## Description of Bug or Feature

The docs currently [contain](https://interrogate.readthedocs.io/en/latest/#other-usage) the following config for using interrogate with pre-commit:
[code]
However, that fails for me with Python 3.7 and pre-commit 2.3.0 with the error message
[code]
And indeed, the file seems not be in the repo

[2020-05-05 14:56] torfsen opened #11 "Feature Request: Option to ignore nested functions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [ ] bug
* [x] feature

## Description of Bug or Feature

Nested functions (i.e. function definitions within function definitions) are usually small helpers that need no docstring and are not part of the public API. It should therefore be possible to optionally ignore them.

[2020-05-05 15:33] torfsen opened #12 "Feature request: Option to accept inherited docstrings"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [ ] bug
* [x] feature

## Description of Bug or Feature

Many tools (e.g. `inspect.getdoc`, Sphinx) allow methods in subclasses to inherit the docstring of the parent class:
[code]
In these cases, I usually only add a separate docstring to `SpecialFoo.do_it` if its behavior differs significantly from what one would expected after reading the docstri

[2020-05-05 20:06] econchick commented on #10
shoot, good catch! Give me a few minutes and I'll make a patch release. It should then work for `1.1.4`. Thanks so much for leading me know!

[2020-05-05 20:17] #10 closed

[2020-05-05 20:21] econchick commented on #11
Thanks for the request! Would the `-r/--ignore-regex` help in this case? For instance:

[code]

[code]

[2020-05-05 20:28] torfsen commented on #11
In theory, yes -- but that would require me to hardcode all of the inner functions, since they usually don't follow any systematic naming scheme. That's something I'd like to avoid when working on a larger code base. Ignoring the nested functions completely (just like, say, magic functions) would be much easier.

It's not something that's a deal breaker for me, but it would be a welcome addition.

[2020-05-05 20:40] econchick commented on #12
Hmm interesting thought. I'm going to have to investigate this a bit; it's weird that `help(ChildClass.overwritten_method)` shows the docstring of the parent class, but `ast.get_docstring` does not.

I'll get back to you - thanks for the idea!

[2020-05-05 20:41] econchick commented on #11
Ah, understood - I'll see if I can figure something out. Thanks for the idea!

[2020-05-06 12:08] torfsen commented on #10
I can confirm that this is fixed in 1.1.4. Thanks for the quick response!

[2020-05-06 16:10] hectormz opened #15 "Bug: `common_base` not found on Windows"
First of all, I really like the intent of this package! 👍

**Is this a BUG REPORT or FEATURE REQUEST?**:

* [X] bug
* [ ] feature

## Description of Bug or Feature

### Environment

- `interrogate` version: 1.14
- Operating System(s): Windows 10
- Python version(s): 3.8

### What happened
`utils.get_common_base()` does not find the common base for files on Windows.

This happens because path level

[2020-05-06 18:26] econchick commented on #15
Hey @hectormz ! Thanks so much for such a thorough bug report, it's very helpful. I'd welcome any contribution :) LMK if I can help at all.

[2020-05-06 18:34] hectormz commented on #15
@econchick sure thing. I'll make a PR and see what you think!

Another thing that I found was that I had `attrs` version 19.1.0 installed, which causes an error when using `interrogate`. The error goes away if using `attrs>=19.2.0`.

I can include that version requirement in `setup.py` during this PR unless you'd like a separate one.

[2020-05-06 18:38] econchick commented on #15
Ah good catch - yea feel free to through that in the same PR (separate commit if possible though). I appreciate it!

[2020-05-09 17:45] econchick commented on #15
So instead of fixing all the paths, I tried to keep the bug fix very narrow. Unfortunately I don't have an easy way to test on a windows machine. Would you mind checking out #18 for me? In the mean time, I'm going to try and get github actions to work w windows, but [it's not as easy as I thought...](https://github.com/econchick/interrogate/actions/runs/100091422)

[2020-05-09 18:16] econchick commented on #15
@hectormz aha! I got windows testing to work on github! and found lots of test failures :D I am working through them :)

[2020-05-09 18:19] hectormz commented on #15
Yes, let me get to my computer and test this out for you.

[2020-05-09 18:21] hectormz commented on #15
@econchick awesome! When I was working through this I found it easier to test on a Linux VM then figure out the Windows test failures 😁. I assumed they might be due to the posix-style path patterns in the tests?

[2020-05-11 05:42] ivarstange opened #20 "Bug: Terminal width on Windows command is off by 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [x] bug
* [ ] feature

## Description of Bug or Feature
When generating the report, the last "|"-char for the table is on the next line, causing the output to look really weird. Expanding the windows command (terminal) width by 1 makes everything look nice again.

### Environment

- `interrogate` version(s): 1.1.4
- Operating System(s): Windows 10
-

[2020-05-11 14:05] econchick commented on #15
Addressed by #18 (thanks again @hectormz!)

[2020-05-11 14:05] #15 closed

[2020-05-11 14:07] econchick commented on #20
Hey @ivarstange - thanks so much for the bug! My apologies for the annoying issue - I'll take a look in the next couple of days.

[2020-05-12 00:39] hectormz commented on #20
I noticed this too, but couldn't find the pattern. If I use Windows Terminal, it always correctly. And if I use any terminal inside VS Code, it's fine. But cmd/cmder/powershell on their own don't work.

Let me know if I can help check things out on Windows.

[2020-05-12 00:58] hectormz opened #22 "Feature Request: Flag for alternative formatting of line number output"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [ ] bug
* [X] feature

## Description of Bug or Feature
I'm using `interrogate` a lot right now to go through projects and add missing docstrings (`- vv` flag mostly). VS Code (and other IDEs?) can convert the path to a file in the output as a link, so I can click to a file missing docstrings (technically with output from `interrogate`, I believe it

[2020-05-12 13:18] econchick commented on #20
@hectormz @ivarstange if either of you have a moment, would you mind trying out #23 to see if that addresses the issue you both are seeing?

[2020-05-12 21:48] econchick commented on #20
@ivarstange @hectormz I released version `1.1.5` in hopes that I've fixed the off-by-1 issue. Please feel free to re-open this ticket if you still experience issues!

[2020-05-12 21:48] #20 closed

[2020-05-12 21:49] econchick commented on #22
Interesting - I can see how this would be helpful. Let me give it some thought!

[2020-05-12 22:06] hectormz commented on #22
Sure thing @econchick . Just putting it on your radar. It helps in my case, but I'm not sure if it fits in your broader plan.

[2020-05-13 00:30] econchick commented on #11
Hey @torfsen - I've added this feature for ya in #24 via a new flag: `-n` / `--ignore-nested-functions`. It will be released in v1.2.0, but I want to try and address your other feature request before actually making that release. Feel free to try it out before then via
[code]

I'll update this issue once it is released on PyPI either way.

[2020-05-13 04:43] ivarstange opened #25 "Flag for color coded output"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [ ] bug
* [X] feature

## Description of Bug or Feature
It would be really nice to get the output color-coded. Especially when `-vv` is flagged. In a reasonably large package in combination with a wide terminal output, correlating those "COVERED" and "MISSED" labels with the corresponding item is often difficult.

Having the option to print lines as

[2020-05-13 12:49] flamableconcrete opened #26 "Feature Request: Flag to check pydocstyle"
**Is this a BUG REPORT or FEATURE REQUEST?**:

* [ ] bug
* [x] feature

## Description of Bug or Feature

I regularly use `flake8` and recently came across the `flake8-docstrings` extension which utilizes `pydocstyle` to check for various docstring content issues. It feels to me like `pydocstyle` is the kind of optional dependency/flag that could be incorporated here somehow. Possibly a third leve

[2020-05-13 13:56] econchick commented on #25
great idea - should be easy enough; I'll try to incorporate it in the next release!

[2020-05-13 14:07] econchick commented on #26
Interesting idea! I'll take a look to see how much work it'd take to add this. Thanks!

[2020-05-19 23:09] econchick commented on #25
Added `--color` (default) / `--no-color` flags in `ddcfd464` and released in v 1.2.0 - thanks for the suggestion!

[2020-05-19 23:09] #25 closed

[2020-05-19 23:10] econchick commented on #11
I've released 1.2.0 with this feature included - thank you for the suggestion!

[2020-05-19 23:10] #11 closed

[2020-07-04 11:13] vyahello opened #35 "Allow read configuration from 'setup.cfg' file"
### Describe the feature you'd like
Currently, there is the only ability to read configuration from 'pyproject.toml' file. Please add this for 'setup.cfg' too.

### Your Environment
- Operating System(s): Mac OS, Linux
- Python version(s): python >=3.7

[2020-07-04 11:15] vyahello opened #36 "Allow read configuration from 'pyproject.toml' by default"
### Describe the feature you'd like
Currently, we have to pass 'pyproject.toml' file as an mandatory argument to read custom configuration. Please add ability to read 'pyproject.toml' config file by default

### Your Environment
- Operating System(s): Mac OS, Linux
- Python version(s): python >=3.7

[2020-07-20 15:59] jeremywitte opened #37 "Feature Request: ability to ignore property methods decorated with *@property*"
### Describe the feature you'd like

I would like to be able to ignore class property methods that are defined with `@property` decorators. Many times these can be self-descriptive and do not follow the `get_` regex pattern.

### Is your feature request related to a problem?

### Your Environment

- `interrogate` version(s) (`interrogate --version`:
- Operating System(s):
- Python version(s):

###

[2020-07-20 21:21] econchick commented on #37
Thank you for the suggestion! That does make sense - I'll take a look into it sometime this week.

[2020-07-20 21:22] econchick commented on #35
Sorry for the delayed response! This seems like a reasonable request! I'll look into it this week.

[2020-07-20 21:22] econchick commented on #36
Sorry (again) for the delayed response! This seems like a reasonable request! I'll look into it this week.

[2020-07-23 07:48] MarcoGorelli opened #38 "Allow -e to specify directory that doesn't exist"
### Describe the feature you'd like

E.g. when running `interrogate` locally I'd like to ignore `build`, but I don't need to ignore that during CI. But if I pass `interrogate . -e build` then I get
[code]

### Your Environment

- `interrogate` version(s) (`interrogate --version`: 1.2.0
- Operating System(s): Linux
- Python version(s): 3.7

[2020-07-23 09:01] MarcoGorelli commented on #38
For comparison, with `flake8`, I can easily ignore local folders and not have `flake8` throw an error when I run it during CI.

Am happy to submit a PR if you would be open to `-e` not throwing an error when a non-existent path is given

[2020-07-24 20:56] econchick commented on #38
Hey @MarcoGorelli - thanks for the idea! I think it's great - I'd welcome a PR :)

[2020-08-02 17:21] s-weigand opened #40 "Make Badge newline configurable or only update if content changed"
### Describe the feature you'd like
First of all thanks for the awesome tool 😄
I would love to use the badge creation feature as a `pre-push` hook in my projects, so the badge is always up to date.
But since each major OS has its own newline  (Linux `\n`, MacOs '\r' and Windows `\r\n`), creating a new badge on push can lead to a diff, which basically is empty, blocking the push.
Since my projects

[2020-08-17 00:02] profgav opened #41 "Support skip comment markup like # noqa"
Awesome, extremely useful project, thank you!!

### Describe the feature you'd like

I have cases where we use decorators to extend docstrings from other methods / classes, etc.. Rather than try to catch such a special case, perhaps adding support for a comment annotation (like `# noqa`, as used by linters) that indicates a method / function to be ignored?

### Is your feature request related to a

[2020-08-23 20:08] econchick commented on #40
Hey @s-weigand ! My apologies for not following up on this issue earlier.

This seems like a common issue when folks collaborate using different OSes, not necessarily something that `interrogate` should deal with specifically. But maybe I'm confused: if `git` does CRLF normalization (via [`.gitattributes` or globally](https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endin

[2020-08-23 20:21] econchick commented on #37
Hey @jeremywitte - I've (finally) added this in! It will be in v 1.3.0 (which should be released later today). Thanks again for the suggestion!

[2020-08-23 20:21] #37 closed

[2020-08-23 21:51] s-weigand commented on #40
The problem I have is, when I want to run it with `pre-commit`, to keep my badge always up to date.

My use case is on Windows with [`gitbash`](https://gitforwindows.org/).
To me it looks like the end of line replacement done by git does happen when you stage the files.
So when `pre-commit` runs again the lines have a `\n` ending, but since `interrogate` always writes the badge I end up with a new

[2020-08-23 22:33] econchick commented on #35
Hey @vyahello - I've added this with #44. I'll make a release later today (v1.3.0) with it included. Thanks for the suggestion!

[2020-08-23 22:33] #35 closed

[2020-08-23 22:36] econchick commented on #40
Hmm yeah that does make sense now; thank you for the explanation. It didn't connect with me first with the fact that `pre-commit` will run before `git` and therefore rendering `.gitattributes` useless in this case.

I like the "lazy" idea better - adding another CLI arg seems a bit more clumsy IMO. But I will definitely appreciate a PR if you have some time to spare!

Thanks!

[2020-08-23 22:39] econchick commented on #41
hey @profgav (cc @gavinhuttley) - I definitely like this idea. In investigating this idea, it seems like this is will take a bit of work. `interrogate` just uses the `ast` which doesn't include comments, so I'll have to tokenize source files (and then have the joy of aligning tokenized files with ast parsed files 😆 ). I'll try to slate this for 1.4.0 release.

Thanks for the idea!

[2020-09-03 20:58] econchick commented on #40
Hopefully is addressed in #47 in version 1.3.1. Please reopen if not!

[2020-09-03 20:58] #40 closed

[2020-09-03 21:02] econchick commented on #26
Hey @flamableconcrete (apologies for the silence!) - I've given this some thought, and I'm choosing not to add this functionality. I want to keep this tool as simple as possible and just check doc coverage, not necessarily lint the docstrings themselves. Thank you v much for the idea though!

[2020-09-03 21:02] #26 closed

[2020-09-03 21:06] flamableconcrete commented on #26
No worries - thanks for entertaining the thought!

[2020-09-05 13:50] s-weigand opened #48 "Feature Request: Add sloth icon to badge"
### Describe the feature you'd like

Since icons are a great way to quickly navigate to what you are looking for and this project already has its happy sloth branding, IMHO it would be cool to also integrate it into the badge.

### Is your feature request related to a problem?

Nope.

### Additional context
This is my first draft on how the new badge could look like.
Disclaimers:
- The width chang

[2020-09-18 23:20] JulienLajugie opened #50 "When Total=0 and Miss=0 I would expect the result to be SUCCESS rather than FAILED"
### Environment
python 3.7
interrogate 1.3.1

### Description of the bug
When nothing is missed but the coverage is 0 because there was nothing to document, I would expect the result to be SUCCESS.

- Summary -
| Name  | Total | Miss | Cover | Cover% |
|-------|-------|------|-------|--------|
|-------|-------|------|-------|--------|
| TOTAL |     0 |    0 |     0 |   0.0% |
- RESULT: FAILED (min

[2020-09-27 10:44] #48 closed

[2020-09-30 14:14] s-weigand opened #51 "[BUG] Exclude paths not os independent"
### Environment

- `interrogate` version(s) (`interrogate --version`: 1.3.1
- Operating System(s): Windows10
- Python version(s): 3.7.8

### Description of the bug
In one of my projects I exclude a subdir with autogenerated files, form being tested with `inrerrogate`.
In order for this to work crossplatform I need to define the exclusion twice.
Once with windows path separators `\\` and once with

[2020-09-30 14:21] econchick commented on #51
ah! great catch @s-weigand - thanks for filing this. I'll try to get to addressing it over the weekend.

[2020-10-04 14:04] saroad2 opened #53 "[Feature Request] add parameters and return object coverage"
One thing I think is absent from this tool, as well as from [pydocstyle](https://github.com/PyCQA/pydocstyle) and other documentation validation tools, is the ability to check that all **parameters** are documented, not just the **methods**. If this tool would have this ability, I would really like to use it.

[2020-10-04 15:53] oriash93 commented on #51
@econchick Is it possible for me to take up on that?
Thanks

[2020-10-04 16:24] s-weigand commented on #53
Didn't test it yet, but do you mean something like [darglint](https://github.com/terrencepreilly/darglint)?

[2020-10-04 18:28] econchick commented on #51
Hey @oriash93 - if you’d like! I’d certainly welcome a PR.

[2020-10-04 20:13] saroad2 commented on #53
Didn't know *darglint* before. This is exactly what I've been looking for!
Still, I'm thinking it might be a good direction for *interrogate* as well.

Feel free to close the issue if you think otherwise.

[2020-10-11 16:45] s-weigand opened #59 "[Feature Request] Allow glob pattern for exclude paths"
### Describe the feature you'd like

Atm it is not possible to exclude files by a pattern, i.e. `*tests*`.
Which means that each path needs to be added explicitly to the exclude list.
While this might be ok for very small projects, it gets quite nasty for bigger projects.

### Is your feature request related to a problem?

If you have a project where the tests are part of the package and its subpa

[2020-10-11 21:09] econchick commented on #59
I agree - we already have `--ignore-regex`  & `--whitelist-regex` for code-based regexes. Would be good to have two similar flags for paths.

This fall is a bit busy for me - if you (or any lurkers) wish to take this on, I'd be very happy to take a pull request. Otherwise, it may be a little while (a week or two) before I can get to this.

[2020-10-11 22:42] s-weigand commented on #59
IMHO for the case of file paths, `--exclude` should be enough.
If people just want to ignore specific files in a folder, they can just use a glob pattern with a higher specificity.
I.e. you want to exclude the tests themselves, but enforce that you fixtures got docstring
[code]
With the above project structure you would run
`interrogate -e "project/sub-package1/tests/test_*" project`

[2020-10-13 18:14] ValentinCalomme opened #60 "-e/--exclude doesn't work with pre-commit"
### Environment

- `interrogate` version: 1.3.1
- Operating System(s): Windows
- Python version(s): 3.7.7

### Description of the bug

Using the `-e/--exclude` argument works perfectly fine when using `interrogate` directly on the command line. However, when I pass it in my `.pre-commit-config.yaml` file like so:

[code]
The argument doesn't seem to take effect. So far, I have resulted to using `-

[2020-10-13 19:13] econchick commented on #60
Seems like a reasonable expectation :) Thanks for the issue! I'll try to set some time aside over the next week to look deeper into this.

[2020-10-13 19:28] ValentinCalomme commented on #60
Thanks a lot!

I am a bit curious about why it doesn't work. One of my guesses is that I am pointed to a directory that doesn't exist given the working directory within pre-commit. But since `interrogate` doesn't throw an error when an exclude pattern isn't found, I can't know for sure.

For my use case, it isn't the most urgent since I can simply ignore test files/functions using a regex.

[2020-10-13 19:38] econchick commented on #60
Defining `exclude` in [your project's configuration](https://interrogate.readthedocs.io/en/latest/#configuration) then provide it as an argument to pre-commit could also help if you don't want to get too complicated with regexes ([I do that](https://github.com/econchick/interrogate/blob/master/.pre-commit-config.yaml#L10)). You can also use [pre-commit's exclude](https://pre-commit.com/#top_level-

[2020-10-18 18:17] MarcoGorelli commented on #60
In case it's useful to, as a stopgap solution, you could do
[code]

[2020-10-22 10:59] faph opened #61 "PyPI classifiers including licence information not used in setup.py"
### Environment

- `interrogate` version(s) (`interrogate --version`: 1.3.1
- Operating System(s): Windows
- Python version(s): Python 3.6

### Description of the bug

On PyPI there is no licence meta information. Some systems automatically scan for this information to "approve of" certain packages.

I believe this is due to a bug in `setup.py` where `CLASSIFIERS` is not passed as an argument to `

[2020-10-27 01:17] #61 closed

[2020-11-03 21:42] #51 closed

[2020-11-03 22:12] econchick commented on #50
FYI the fix has been released in [1.3.2](https://pypi.org/project/interrogate/1.3.2/) - thanks!

[2020-11-03 22:15] #50 closed

[2020-11-25 18:38] amin-nejad opened #65 "Ignore nested classes (and subnested functions)"
### Describe the feature you'd like
In the same vein as `--ignore-nested-functions`, It would be nice if we could have an `--ignore-nested-classes` (or additionally capture nested classes with `--ignore-nested-functions`).

### Is your feature request related to a problem?
For instance, a lot of my classes in one of my projects have a nested `Schema` class which follows an almost identical structu

[2020-11-29 18:38] s-weigand commented on #60
My solution is adding [`pass_filenames`](https://pre-commit.com/#hooks-pass_filenames) to the hook
[code]
That way `interrogate` runs as if you were running it from CLI.

Maybe this should be part of the defaults for the hook?

[2020-12-13 16:44] #59 closed

[2021-01-20 15:04] J08nY commented on #12
The way `help()` works is using `pydoc` which does its own search of the doc string. See: https://github.com/python/cpython/blob/63298930fb531ba2bb4f23bc3b915dbf1e17e9e1/Lib/pydoc.py#L185. There `getdoc` is called with the class as an argument. That further calls `_getdoc` which first tries `_getowndoc` which finds the docstring on the class itself and then `_finddoc` which looks through the super

[2021-01-27 20:28] DrGFreeman commented on #65
Another case where this would be useful is when a class is defined inside a pytest fixture which yields an instance of the class for use in a test (here a dummy Scikit-Learn estimator class):

[code]

[2021-04-23 12:15] chrisbeardy opened #68 "Split out the `--ignore-property-decorators` to allow ignore setter only"
### Describe the feature you'd like
Currently the `-P, --ignore-property-decorators` option ignores methods with property setter/getter decorators.
I (and potentially others) often just document the getter as IDEs like PyCharm will use the getter documentation for the setter too. This prevents the need to duplicate docstrings across the getter and setter.

It would be great if there was an option

[2021-05-07 04:41] rasulkireev opened #70 "Add the ability to generate a badge in PNG format"
### Describe the feature you'd like
Add the ability to generate badge in the PNG format. Currently we run `interrogate --generate-badge .` to generate the badge (in SVG). If it was possible to do `interrogate --generate-badge --filetype=png .` or something like that would be cool.

### Is your feature request related to a problem?
Yes. I'm having a problem where the Azure Devops README is not able

[2021-05-09 04:04] rasulkireev commented on #70
I think using cairosvg to convert this myself is sufficient. Thanks!

[2021-05-09 04:04] #70 closed

[2021-05-14 22:40] econchick commented on #65
Hey there @DrGFreeman & @amin-nejad ! I'm so sorry this took me so long to get to. I just merged in #73 and should be released in the next day or so as `1.4.0`. Thanks for the suggestion!

[2021-05-14 22:40] #65 closed

[2021-05-14 23:06] econchick commented on #68
Hey @chrisbeardy - sorry for the delay! Thank you for the suggestion. I merged in #74 that added `-S`/`--ignore-setters` that will be released in `1.4.0` (hopefully uploaded later tonight).

[2021-05-14 23:06] #68 closed

[2021-05-15 13:49] DrGFreeman commented on #65
Hey @econchick, thanks for the new feature! I'll update my CI pipelines to use `1.4.0` from now on.

And no worries for the delay. The efforts you invest in this project are a gift to the community!

[2021-05-26 16:53] Pradhvan commented on #41
If no one is working on it I can try my hands around it. @econchick 😃

[2021-05-26 22:29] econchick commented on #41
@Pradhvan 💯! this issue is yours if you want it! Very much appreciated - thank you!

[2021-05-27 03:32] Pradhvan commented on #41
Great! I Will try my best 🙌🏾

[2021-05-29 15:43] Pradhvan commented on #41
I tried going through the code base but felt a bit overwhelmed. @econchick if it's not too much of a trouble, can you give out some pointers on where to start and what would be have been your approach. Even as small as a tl'dr type short text would help a lot.

[2021-06-02 17:09] econchick commented on #41
Hey @Pradhvan, sure!

So `interrogate` uses the [`ast`](https://docs.python.org/3/library/ast.html) library in stdlib (in [`src/interrogate/visit.py`](https://github.com/econchick/interrogate/blob/master/src/interrogate/visit.py)). It uses `ast` to traverse a code base, (via `visit_<Noun>Def` methods), and with each object we care about (classes, methods/functions, modules, etc), we call [get_docs

[2021-06-03 02:46] Pradhvan commented on #41
@econchick thank you for the detailed explanation. This definitely helped make more sense of what I need to do. 🙌🏾

[2021-06-24 18:34] bildzeitung opened #81 "Interrogate has a lower bound on the Click version it can use"
### Environment

- `interrogate` version(s) (`interrogate --version`: 1.4.0
- Operating System(s): Linux
- Python version(s): 3.6.8

### Description of the bug
I have a project that uses a _particularly old_ version of Click (v6.7). In version 1.3.0 of interrogate, this is fine, but version 1.4.0 uses the `case_sensitive` option in `click.Choice()`, which isn't present in that version.

This isn't

[2021-07-06 10:23] RoyalTS opened #83 "Document what level of `verbose` `-vv` corresponds to"
I take it the `-v` option corresponds to `verbose=1`. Does `-vv` correspond to `verbose=2`?

[2021-07-06 13:01] econchick commented on #83
hey @RoyalTS - just to be clear, you are requesting better docs around `verbose` when setting it in config, e.g. `pyproject.toml`?

[2021-07-06 14:45] RoyalTS commented on #83
Yeah, sorry, should have been clearer. I'm asking for the correspondence between the command-line arguments and the settings.

[2021-07-07 02:39] econchick commented on #83
Gotcha! So sorry for the confusion, I’ll definitely update the docs for better clarity.

And yeah, you have it correct: in config, if you want no verbosity, then it’s verbose = 0. If you want the equivalent of -v, then it’s verbose = 1. And -vv is verbose = 2.

[2021-07-07 17:09] bildzeitung commented on #81
Change merged (thank you, @econchick )! This can be closed out, I think.

[2021-07-07 17:09] #81 closed

[2021-08-13 19:14] RobertCraigie opened #85 "Add --skip-covered flag to disable reporting covered files"
### Describe the feature you'd like

Interrogate's output can get very verbose which is very useful, however sometimes it would also be useful to ignore any files that are 100% covered to focus on the files that need docstrings added, I suggest adding a `--skip-covered` flag to disable reporting of such files.

### Is your feature request related to a problem?

No

### Your Environment

- `interro

[2021-08-16 20:27] astrogewgaw opened #86 "Support for multiple styles for the interrogate badge"
<div align="justify">

Is it possible for the **interrogate** badge to support all the styles supported by [**Shields.io**](https://shields.io/), namely: _plastic_, _flat_, _flat-square_ and _for-the-badge_? I wish to use the interrogate badge in my READMEs, but since I prefer the _for-the-badge_ style, it ends up looking like the odd one out 😅 . I am using **interrogate** `v1.3.2`, with Python v3

[2021-08-19 20:54] econchick commented on #85
Thanks for the good idea! I'll try to add this functionality in the next week or so for the 1.5.0 release.

[2021-08-19 20:55] econchick commented on #86
Hey @astrogewgaw - it's not possible right now, but I like the idea and will try to add support for different styles in the next week or so for the 1.5.0 release. Thanks!

[2021-08-19 21:31] astrogewgaw commented on #86
No worries @econchick 😁 ! Glad to see that this is (hopefully 🤞🏾) going to make the 1.5.0 release. Thanks for both responding so quickly and for making this awesome project in the first place 😄 !

[2021-09-10 18:24] econchick commented on #85
FYI I've added this (as `--omit-covered-files`) and will be included in the 1.5.0 release. Not sure when I'll be able to make the release as I want to get a few more things in before, but I'll update this ticket once I do!

[2021-09-10 18:24] #85 closed

[2021-09-10 19:35] econchick commented on #83
(finally) addressed this in #89 - sorry for the delay, thanks!

[2021-09-10 19:35] #83 closed

[2021-09-10 23:06] econchick commented on #86
Hey @astrogewgaw ! I finally added a `--badge-style` flag to `interrogate`, and is in the newly-released 1.5.0 version! [Check it out](https://interrogate.readthedocs.io/en/latest/#badge-options) and tell me what you think!

[2021-09-10 23:06] #86 closed

[2021-09-10 23:07] econchick commented on #85
Update: 1.5.0 has been released! Let me know what you think / if you have any issues!

[2021-09-11 08:24] RobertCraigie commented on #85
Thank you!

[2021-09-27 16:58] sg-s opened #95 "option to show only functions that are missing docstrings"
### Describe the feature you'd like

an option to print out only the modules/functions that are missing docstrings

### Is your feature request related to a problem?

no

[2021-12-17 16:15] ErwinJunge opened #97 "Option to ignore overloaded functions"
### Describe the feature you'd like
When decorating functions with `@typing.overload`, the stubs are marked as not covered when they don't have their own docstring. My suggestion is to add an option to ignore those stubs.

### Is your feature request related to a problem?
We have overloaded functions in our codebase that we want to start using this package in and we only document the actual implem

[2022-01-06 19:37] dAnjou commented on #41
FYI, in case this is still open for input, [pdoc3 uses the special variable `__pdoc__` instead of comments](https://pdoc3.github.io/pdoc/doc/pdoc/#overriding-docstrings-with-__pdoc__).

[2022-01-11 22:08] lorenzomammana opened #100 "-I doesn't work with pre-commit"
### Environment

- interrogate, version 1.5.0
- OS: Windows 10
- Python version: 3.8.10

### Description of the bug

I'm trying to use interrogate through pre-commit with this hook

[code]

If I run `pre-commit run --all-files`
I obtain
[code]

If instead I run `interrogate -vv -i -I -M --fail-under=60 .`
I obtain
[code]

That is because in the first case __init__.py are not ignored, while in the

[2022-01-19 22:26] thecesrom opened #101 "`interrogate` is unable to run when installed with `png` extra"
### Environment

- `interrogate` version(s) (`interrogate --version`: 1.5.0
- Operating System(s): macOS 10.15, Windows 10
- Python version(s): 3.10.1, 3.10.2

### Description of the bug

I have installed using `pipx install 'interrogate[png]'` and on a virtual environment on both macOS and Windows, and even `interrogate --version` fails with the following error:

**macOS**
[code]

**Windows**
[co

[2022-01-19 22:52] thecesrom commented on #101
Sorry, I had not installed `cairo`.

Closing issue.

[2022-01-19 22:52] #101 closed

[2022-03-13 19:53] dragonpaw opened #104 "Refuses to scan executable python scripts that don't end in .py"
### Description of the bug
In the code there's an automatic error if `if not path.endswith(".py")` but python executables usually lack the file extension.

### What you expected to happen
Scan the python file.

### How to reproduce (as minimally and precisely as possible)
Make a python file with a #! line, but no .py in the filename.

### Anthing else we need to know?

As an example, we're trying

[2022-03-20 19:46] amin-nejad opened #105 "`ignore-nested-functions` should work with coroutines"
### Describe the feature you'd like

I'd like `ignore-nested-functions` to work with coroutines (i.e. `async def`). However if either function is actually a coroutine, it does not work

### Is your feature request related to a problem?

I'm frustrated when I have to add docstrings to unimportant functions and I can't avoid it just because of how they are defined i.e. there is nothing materially di

[2022-03-23 17:17] GlenNicholls opened #106 "-o, --output flag doesn't create output directory for log file if it doesn't exist already"
### Environment
- `interrogate` version(s): 1.5.0
- Python version(s): 3.6-3.9

### Description of the bug
When using the `-o, --output` flag, interrogate doesn't create the parent(s) of the file if they don't already exist:

[code]

### What you expected to happen
I would expect that interrogate would create the parent directories that do not exist (e.g. in this case `build/coverage/`.

[2022-03-23 17:49] GlenNicholls opened #107 "No output during failure when -o, --output specified"
### Environment
- `interrogate` version(s): 1.5.0
- Python version(s): 3.6-3.9

### Description of the bug
When using the `-o, --output` flag, interrogate doesn't provide any output when the minimum docstring coverage is not met.

[code]

### What you expected to happen
I expect that at the very least interrogate would report why coverage failed. I think an improvement would be to change the `-o,

[2022-05-13 14:26] epassaro opened #114 "`--fail-under` not working with float"
### Environment

- `interrogate` version(s) (`interrogate --version`: 1.5.0
- Operating System(s): Linux
- Python version(s): 3.8

### Description of the bug

Passing a float to `--fail-under` flag results in fail despite the coverage is exactly the same.
[code]

### What you expected to happen

Expected `PASSED`.

### How to reproduce (as minimally and precisely as possible)

Get the coverage of

[2022-05-28 18:41] sshishov commented on #60
The same issue as in [isort](https://github.com/PyCQA/isort/issues/938) fixed by [PR 939](https://github.com/PyCQA/isort/pull/939) and [black](https://github.com/psf/black/issues/438) fixed by [PR 1032](https://github.com/psf/black/pull/1032)

Same problem was happening with `flake8` and happening now with [typos](https://github.com/crate-ci/typos/issues/347)

[2022-06-26 03:52] jgarte opened #120 "Does interrogate check google style docstrings?"
Hi, does interrogate check [google style docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) also?

[2022-07-11 11:10] joshdunnlime commented on #60
This saved me a LOT of pain. Thank you

[2022-07-11 22:23] TheRealVizard opened #121 "Python Match|Case no support?"
### Environment

- `interrogate` version(s) (`interrogate --version`: 1.5.0
- Operating System(s): Linux
- Python version(s): 3.10

### Description of the bug
Interrogate fails with new `match` syntax
![image](https://user-images.githubusercontent.com/75857767/178368270-50c1ebf4-03f5-4335-976c-34a09c88668f.png)

### What you expected to happen
`Pass`

### How to reproduce (as minimally and precise

[2022-07-18 09:42] amin-nejad commented on #97
Another option is to ignore `flake8` rule **D418** (doesn't allow docstrings for overloads) and just give the overloaded functions/methods docstrings. But agree it would be good to have the option to have interrogate ignore them for this purpose.

[2022-07-26 13:17] Charlie-Root opened #124 "re.error: nothing to repeat at position 0"
### Environment

- `interrogate` version(s) (`interrogate --version`: interrogate, version 1.5.0
- Operating System(s): Ubuntu 22.04 LTS
- Python version(s): 3.10

### Description of the bug
Interrogate throws an exception (re.error) on every command.

`Traceback (most recent call last):
  File "/home/id986507/.local/bin/interrogate", line 8, in <module>
    sys.exit(main())
  File "/home/id986507

[2022-08-04 13:10] ts-mk opened #126 "Property deleter not being ignored"
### Environment

- `interrogate` version(s) (`interrogate --version`): 1.5.0
- Operating System(s): macOS
- Python version(s): 3.9.10

### Description of the bug

With `ignore-property-decorators` set to `true`, a property deleter is not being ignored.

### What you expected to happen

A property deleter should be ignored the same way a property getter and setter is.

### How to reproduce (as mini

[2022-08-05 14:11] econchick commented on #120
Hi @jgarte - it should, yes. Please file a bug if you have any issues.

[2022-08-05 14:11] #120 closed

[2022-08-14 15:16] Goldziher opened #128 "Both class and __init__ documentation are required when they shouldnt be"
Hiya,

interrogate assumes I need to document both the class and its `__init__` method. Yet this is not required by tooling usually and is actually considered an anti-pattern - the class constructor is equivalent to documenting the class and vice versa.

That is, the tool requires something like this:

[code]

Whereas the two examples below are in fact correct documentation that raises errors curr

[2022-08-14 15:21] Goldziher opened #129 "Add flag to check class attributes for documentation"
Hi there,

One thing currently not tested by the tool is class variables, i.e. class members or attributes. This is important when generating documentation from code.

For example, both code snippets will have the same documentation coverage currently:

[code]

[code]

[2022-08-16 18:53] econchick commented on #107
Hi @GlenNicholls - so sorry for the belated reply!

I'm going to close this as `wontfix` - the intended behavior of `-o`/`--output` is to redirect output from stdout to a file. You didn't specify which operating system you're using (I suspect unix-like based on your example paths), but if you want both the regular stdout and write to a file, you can use the `tee` command on macOS or Linux ([window

[2022-08-16 18:53] #107 closed

[2022-08-16 19:09] econchick commented on #114
Just wanted to let you know that I have a fix, and will be released in the next release (`22.0` - switching to calendar versioning), hopefully by the end of the month - I'll update the issue when it's out.

Thank you for your patience!

[2022-08-16 19:09] econchick commented on #126
Just wanted to let you know that I have a fix, and will be released in the next release (`22.0` - switching to calendar versioning), hopefully by the end of the month - I'll update the issue when it's out.

Thank you for your patience!

[2022-08-16 20:02] epassaro commented on #114
Thanks!

[2022-08-16 20:02] #114 closed

[2022-08-31 20:35] mathbr10 commented on #60
For me this is happening with every argument -i, -I, -m. Any of them work in pre-commit